@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
  font-family: Merriweather
  
}

body{
    background-color: #eee8e8;
  }

  
  .topo{
      background-color: #635B5B;
  }
  
  .logos{
    text-align: left;
    vertical-align: left;
  }
  .loogos{
    margin-left: auto;
    display: flex; 
  }  

  .bannerindex{
    align-items: center;
    
    
  }
  
  .banner {
    width: 100%;
  }   



  .nav-item{
    display: flex;
    align-items: center;
    a{
      font-size: 23px;
      color: rgb(255, 255, 255);
    }
}

.nav-item:hover{
    a{
      color:#322b2b;
      transition: color 0.5s;
    }
}

.nav-item{ 
    a{
      margin-top: px;
      margin-right: 25px;
      margin-left: 25px;
       color: #ffff;
    }
}

a.nav-link.active{
    color: white;
}

.info{
  background-color: #1B1B1B;
  margin-top: 32%;
  margin-left: 2%;
  position: fixed;
  width: 3%;
  border-radius: 40%;
}

.I{
  color: #eee8e8;
  font-size: 30px;
  text-decoration: none;
  margin: 40%;
}

.footer{
display: flex;
background-color: #635B5B;
margin-top: 8%;
}

.footer_textbox{
  margin: auto;
  margin-top: 70px;
  margin-bottom: 40px;
}

.footer_text{
  color: #eee8e8;
  font-size: 18px;
}

.footer_line{
  color: #eee8e8;
  background-color: #eee8e8;
  border-radius: 20px;
  width: 350px;
  height: 3px;
}

.footerV2{
  display: flex;
  background-color: #1B1B1B;
}

.footerV2_bigtext{
margin-top: 3px;
font-size: 20px;
margin-left: 10px;
color: #eee8e8;
}

.footerV2_text{
  color: #eee8e8;
  margin: auto;
}

.verticalHR{
  color: #eee8e8;
  background-color: #eee8e8;
  border-radius: 20px;
  width: 3px;
  height: 20px; 
  margin: 8px;
}




