body{
    background-color: #eee8e8;
  }
  
  .topo{
      background-color: #635b5b;
  }
  
  .logos{
    text-align: left;
    vertical-align: left;
  }
  .loogos{
    margin-left: auto;
    display: flex; 
  }  
  
  .monti{
    font-family: Great Vibes;
  }

  .nav-item{
    display: flex;
    align-items: center;
    a{
      font-size: 23px;
      color: rgb(255, 255, 255);
    }
}

.nav-item:hover{
    a{
      color:#322b2b;
      transition: color 0.5s;
    }
}

.nav-item{ 
    a{
      margin-top: px;
      margin-right: 25px;
      margin-left: 25px;
       color: #ffff;
    }
}

a.nav-link.active{
    color: white;
}

.info{
  background-color: #322b2b;
  margin-top: 32%;
  margin-left: 2%;
  position: fixed;
  width: 3%;
  border-radius: 40%;
}

.I{
  color: #635b5b;
  font-size: 30px;
  text-decoration: none;
  margin: 40%;
}