.datas{
    background-color: #f5f2f2;
    width: 80%;
    margin: auto;
    margin-top: 135px;
    border-radius: 40px;
}   

.title{
    background-color: black;
    height: 70px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.inputs{
    margin-top: 60px;
    margin-left: 20px;
}

.label{
    margin-bottom:25px;
}

.input_datas{
    width: 70%;
    height: 50px;
    padding-left: 10px;
}

h1{
    color: #eee8e8;
    text-align: center;
    font-size: 45px;
}

.separate{
    width: 80%;
    margin: auto;
    margin-top: 70px;
}

.continue{
    height: 60px;
    width: 25%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 20px;
    background-color: #635B5B;
}

a{
    text-decoration: none;
    color: #eee8e8;
    font-size: 40px;
}

.continue_text:hover{
    color:#322b2b;
    transition: color 0.5s;
}

.text{
    width: 90%;
    margin-left: 30px;
    margin-top: 30px;
}