.history{
    margin: auto;
    width: 80%;
    margin-top: 100px;

}

.hstry_box{
    display: flex;
    justify-content:space-between; 
}

.hstry_img{
    width: 45%;
    border-radius: 60px;
}
.hstry_text p{
    font-size: 20px;
}
.hstry_text{
    margin-top: 8%;
    width: 35%;
    
}

p{
font-size: 20px;
}

.avaliation{
    width: 20%;
    background-color: black;
}