.plans_text{
      margin-top: 50px;
      text-align: center;
      color: #757474;
      font-size: larger;
        
}
.card p{
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  min-width: 200px;
}
.card h5{
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  min-width: 200px;
}
.card img{
 
    width: 250px;
}
.card{
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      text-align: center;
      background-color: #fffbef;
      align-items: center;
      
  }
  
  .checked {
      color: orange;
      text-align: left;
      margin-bottom: 10px;
    }

    .section{
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
}

    hr{
      height: 60px;
    }

    a{
      text-decoration: none;
      color: black;
    }

    a:hover{
      color: #c2bdbd;
      transition: color 0.5s;
    } 