.plans_text{
      margin-top: 50px;
      text-align: center;
}

.card{
      margin-top: 30px;
      text-align: center;
      
      align-items: center;
      
  }
  
  .checked {
      color: orange;
      text-align: left;
      margin-bottom: 10px;
    }

    .section{
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
}

    